---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import LogoSvg from '../icons/Corazon.svg';
---

<footer class="mx-auto w-full max-w-[1392px] px-4">
  <div class="flex justify-between items-center">
    <div class="flex flex-row gap-x-3 justify-center items-center">
      <LogoSvg class="w-22 h-22" />
      <div>
        <p class="font-semibold text-2xl flex flex-row gap-x-2">
          Made with Astro
          <span class="rounded bg-astro-red text-2xl px-2">2025</span>
        </p>
        <span class="uppercase font-light text-black">
          © Valentina Pinto - 
          <a
            href="https://github.com/Haru-VP"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </span>
      </div>
    </div>
    <div>
      <h5
        class="text-center text-black flex justify-center items-center text-2xl font-bold uppercase"
      >
        Creado por
        <span class="ml-2 text-astro-red">Valentina Pinto</span>
      </h5>
    </div>
  </div>
</footer>
